@media (max-width: 649px) {
  header {
    height: 52px; }
    header .topbar {
      height: 52px;
      justify-content: center; }
      header .topbar__logo {
        text-align: center; }
        header .topbar__logo img {
          width: 88%; }
      header .topbar__nav {
        display: none; }
      header .topbar .topbar__mobile-btn {
        display: flex;
        flex-direction: column;
        margin: auto 0;
        padding: 0.5rem 0;
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: var(--bc-navmobile);
        border-radius: 50%;
        right: 4%;
        top: 0;
        bottom: 0;
        z-index: 2; }
        header .topbar .topbar__mobile-btn .topbar__mobile--line {
          width: 22px;
          height: 5px;
          border-radius: 10px;
          position: relative;
          margin: auto;
          background-color: #000;
          transition: all .3s ease-in-out; }
        header .topbar .topbar__mobile-btn.shownav .line1 {
          transform: translateY(8px) rotate(45deg); }
        header .topbar .topbar__mobile-btn.shownav .line2 {
          opacity: 0; }
        header .topbar .topbar__mobile-btn.shownav .line3 {
          transform: translateY(-8px) rotate(-45deg); }
      header .topbar .topbar__mobile .topbar__mobile--background {
        position: absolute;
        width: 101%;
        height: 1200%;
        top: 98%;
        right: -1px;
        background: #061b23;
        opacity: 0.5; }
      header .topbar .topbar__mobile .topbar__mobile--slide-box {
        position: absolute;
        width: 70%;
        height: 1300%;
        top: 0;
        right: -1px; }
        header .topbar .topbar__mobile .topbar__mobile--slide-box .topbar__mobile--header {
          height: 7.6%;
          background: var(--bc-navbar); }
          header .topbar .topbar__mobile .topbar__mobile--slide-box .topbar__mobile--header .topbar__mobile--header-logo {
            display: block;
            width: 73%; }
        header .topbar .topbar__mobile .topbar__mobile--slide-box .topbar__mobile--content {
          height: 100%;
          background: var(--bc-subnav); }
          header .topbar .topbar__mobile .topbar__mobile--slide-box .topbar__mobile--content .group {
            font-size: 1rem;
            font-weight: 700;
            color: var(--text-navbar);
            padding-top: 5%;
            padding-left: 10%; }
            header .topbar .topbar__mobile .topbar__mobile--slide-box .topbar__mobile--content .group .group--list {
              font-size: .8rem;
              font-weight: 500;
              color: var(--text-link);
              max-height: 0;
              overflow: hidden;
              transition: .2s ease; }
              header .topbar .topbar__mobile .topbar__mobile--slide-box .topbar__mobile--content .group .group--list li {
                padding-top: .8rem; }
              header .topbar .topbar__mobile .topbar__mobile--slide-box .topbar__mobile--content .group .group--list li::before {
                content: " ";
                display: inline-block;
                width: 0;
                height: 0;
                border-top: 0.3rem solid transparent;
                border-left: 0.4rem solid #fff;
                border-bottom: 0.4rem solid transparent;
                margin-right: 0.5rem; }
            header .topbar .topbar__mobile .topbar__mobile--slide-box .topbar__mobile--content .group .group--list.list-open {
              max-height: 100%; } }
